.drawer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    min-width: 360px;
    top: 0;
    bottom: 0;
    padding: 12px;
    z-index: 9999;
    background: #36393f;
    border-radius: 8px 0 0 8px;
    border-left: 1px solid #2f3136;
    background-color: #2c2e33;
    filter: drop-shadow(0 8px 40px rgba(0, 0, 0, .32));
}

.drawer-anchor-right {
    right: 0;
}

.drawer-anchor-left {
    left: 0;
}