.pr-container {
    max-width: 567px;
    margin-right: auto;
    margin-left: auto;
}

.pr-header {
    margin-bottom: 16px;
    color: #c9d1d9;
    text-align: center;
    border: 0;
    padding: 8px 16px;
    margin: 0;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
    /* background-color: #829aa8; 
    border: 1px solid #768995;
    border-radius: 6px; */
}

.pr-body {
    padding: 16px;
    margin-top: 16px;
    font-size: 14px;
    /* background-color: #161b22; */
    background-color: #33363b;
    border: 1px solid #21262d;
    border-radius: 6px;
}